<nav id="menu_nav"  class="navbar navbar-expand-lg navbar-light  d-flex justify-content-between">
	<a class="navbar-brand" href="/">Nueva Viasa</a>

	<ul class="navbar-nav d-flex align-items-center">

		<% if(user) {%>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<%= user.username %>
					<img src="/images/user.png" alt="">
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/member/settings">Configuraciones</a>
					<a class="dropdown-item" href="/member/ayuda">Ayuda</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/member/logout">Cerrar session</a>
				</div>
			</li>
		<% }else { %>
			<li class="nav-item">
				<a class="nav-link" href="/login">Iniciar Sesion</a>
			</li>
		<% } %>

		<!--
		<li class="nav-item">
			<a class="nav-link" href="/login">Iniciar Sesion</a>
		</li>
		-->

		<!--

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Administrador
				<img src="/images/user.png" alt="">
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Something else here</a>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/about">About</a>
		</li>
		-->
	</ul>
</nav>
<style>
	.nav-link.dropdown-toggle img {
			width: 30px;
			border-radius: 100%;
			margin-left: 10px;
	}
</style>
